*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    /* better practice */
}

html{
    font-size: 62.5%;
    /* better practice */
}

body{
    box-sizing: border-box;
    /* better practice */
}